@model VendasWebMvc.Models.Vendedor

@{
    ViewData["Title"] = "Criar Vendedor";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="mb-3">
                <label asp-for="Nome" class="form-label"></label>
                <input asp-for="Nome" class="form-control"/>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="DataNascimento" class="form-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="SalarioBase" class="form-label"></label>
                <input asp-for="SalarioBase" class="form-control" />
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn" />
            </div>
        </form>
    </div>
</div>