@model VendasWebMvc.Models.ViewModels.VendedorFormViewModel

@{
    ViewData["Title"] = "Criar Vendedor";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="mb-3">
                <label asp-for="Vendedor.Nome" class="form-label"></label>
                <input asp-for="Vendedor.Nome" class="form-control"/>
            </div>
            <div class="mb-3">
                <label asp-for="Vendedor.Email" class="form-label"></label>
                <input asp-for="Vendedor.Email" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Vendedor.DataNascimento" class="form-label"></label>
                <input asp-for="Vendedor.DataNascimento" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Vendedor.SalarioBase" class="form-label"></label>
                <input asp-for="Vendedor.SalarioBase" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Vendedor.DepartamentoId" class="form-label"></label>
                <select asp-for="Vendedor.DepartamentoId" asp-items="@(new SelectList(Model.Departamentoes,"Id","Nome"))" class="form-control"></select>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn" />
            </div>
        </form>
    </div>
</div>